body {
    font-family: "system-ui", sans-serif !important;
}

.sidebar-navigation {
    width: 250px; 
    background-color: #006666 !important;
}

.selected, .nav-item:hover {
    background-color: #338585;
    padding-left: 15px;
    border-radius: 12px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.cursor-pointer {
    cursor: pointer;
}

.link-fixed {
    text-decoration: none !important;
}

.link-fixed:hover {
    text-decoration: underline !important;
}

/* For pagination styling at /runs, /reports, /qa and /customers pages */
.pagination .page-link {
    color: #198754;
}

.pagination .page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
    color: #fff;
}

.page-link:hover {
    color: #198754;
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}